.barGraph {
  @radius: 3px;
  position: relative;
  overflow: hidden;
  width: inherit;
  height: auto;

  line {    
    stroke-width: @barHeight * 2;
    stroke-linejoin: round;
    stroke: @primary;
    fill: @primary;
  }

  &-bar {
    position: relative;
    border-radius: @radius;
    background: @barBack;
    margin-bottom: 10px;
    height: @barHeight;
    overflow: hidden;
    display: block;    

    &:last-child { margin-bottom: 0; }

    &:hover { cursor: pointer; }
    
    &:hover > svg line {
      .transition(all 0.2s ease);      
      stroke: @hover;
      fill: @hover;
    }    
  }

  &-tooltip {
    border-bottom-right-radius: @radius;
    border-top-right-radius: @radius;    
    background: rgba(0,0,0,0.5);
    line-height: @barHeight;
    padding: 0 10px 0 15px;
    height: @barHeight;             
    margin-left: 5px;
    font-size: 12px;
    color: #fff;
    
    position: absolute;
    z-index: 9999;
    right: 0;
    top: 0;      
  }

  &-legend {    
    .legend();

    &-item {
      .legend-item();
      margin-bottom: 10px;
    }
  }

  &-graph {
    .graph();
  }
}