.bubbleChart {
  border-radius: 3px;
  border: 2px solid fade(@borders, 45%);  
  position: relative;
  overflow: hidden;
  width: inherit;
  height: 500px;

  circle {
    .transition(all 0.5s ease);
    cursor: pointer;    
    stroke: @primary;
    stroke-width: 3;
    fill: @primary;
  
    &:hover {
      .transition(all 0.5s ease);
      fill: @hover;
      stroke: @hover;
      stroke-width: 10;
    }    
  }
}