.bubbleChart {

  circle {
    .transition(all 0.5s ease);
    cursor: pointer;    
    stroke: @primary;
    stroke-width: 3;
    fill: @primary;
  
    &:hover {
      .transition(all 0.5s ease);
      stroke-width: 10;
      stroke: @hover;
      fill: @hover;        
    }    
  }

  &-yaxis {
    .legend();
    height: @chartHeight;

    &-item {
      .legend-item();
      height: 20%;
    }
  }

  &-graph {
    .graph-lines();
    height: @chartHeight;
  }

  &-xaxis {
    .xaxis();

    &-item {
      .xaxis-item();
    }
  }
}