//////////////////////////////////////////////////////
// Local Variables
//////////////////////////////////////////////////////

@fontWeight: 300;
@chartHeight: 500px;

//////////////////////////////////////////////////////
// Sales Charts
//////////////////////////////////////////////////////

#salesChart,
#marketingChart {
  height: @chartHeight;

  .nv-y line { stroke: rgba(0,0,0,0.1); }
  .nv-x line { stroke: none; }
}

//////////////////////////////////////////////////////
// Global SVG Styles
//////////////////////////////////////////////////////

svg {
  text {
    font-family: @font-number;
    font-weight: @fontWeight;
    font-size: 0.8em;
  }

  rect {
    fill-opacity: 0.85;
  }
} 

//////////////////////////////////////////////////////
// Chart Styling
//////////////////////////////////////////////////////

.nvtooltip {
  background-color: rgba(255,255,255,1);
  border: none;
  opacity: 0.2;
  padding: 0;    

  h3 {    
    font-family: @font-text;
    background: @primary;
    border-radius: 0;
    font-size: 1.1em;
    border: none;
    color: #fff;
  }

  p {
    font-family: @font-number;
    font-size: 0.9em;
  }
}

.nv-axisMaxMin text {
  font-weight: @fontWeight !important;
}

path.domain { // Gets rid line on Y axis
  stroke: none !important;
}