.lineChart {
  
  circle {
    .transition(all 0.5s ease);    
    cursor: pointer;    
    stroke: @primary;
    stroke-width: 3;
    fill: @primary;
  
    &:hover {      
      stroke-width: 10;
      stroke: @hover;
      fill: @hover;
    }
  }

  line {
    .transition(all 0.2s ease);
    stroke: @borders;
    stroke-width: 4;
  }

  &-trend line {
    stroke: rgba(204, 51, 51, 0.85);
    stroke-width: 2;
  }

  &-yaxis {
    .legend();
    height: @chartHeight;

    &-item {
      .legend-item();
      height: 20%;
    }
  }

  &-graph {
    .graph-lines();
    height: @chartHeight;
  }

  &-xaxis {
    .xaxis();

    &-item {
      .xaxis-item();
    }
  }
}