* {
  -webkit-box-sizing: border-box; 
  -moz-box-sizing: border-box;
  box-sizing: border-box;  
}

body {
  font-weight: @font-weight;
  font-family: @font-text;
  background: #E4E4E4;
  font-family: Arial;  
  font-size: 18px;
  color: #444;
}

svg {
  position: relative;
  z-index: 999;
}

h1, h2, h3, h4, h5, h6 {
  font-family: @font-text;  
  font-weight: 300;
  margin: 20px 0;  
}

// Pre Code

pre {
  box-shadow: inset 0 2px 5px 3px rgba(0,0,0,0.4);
  font-family: Consolas, monospace;
  white-space: pre-wrap;  
  line-height: 1.5em;
  font-size: 0.8em;
  background: #333;
  color: #efefef;  
  padding: 20px;  
  cursor: text;
}

.dataDump {
  display: none;
}

.revealData {
  text-transform: uppercase;
  background: @ratingBar;  
  color: @font-light;
  padding: 8px 15px;
  font-size: 0.65em;
  cursor: pointer;
  border: none;  
  float: right;
}