//////////////////////////////////////////////////////
// Global Vartiables
//////////////////////////////////////////////////////

@font-text: 'Roboto Slab', serif;
@font-number: 'Lato', sans-serif;
@font-color: #595959;
@font-light: #ffffff;
@font-weight: 300;
@font-bold: 500;

@chartHeight: 500px;
@barHeight: 20px;
@radius: 3px;


// Profile Colors
@ratingBar: #45454D;
@rateColor: rgba(255,255,255,0.6);
@rateValue: rgba(96,214,138,1);
@is-high: rgba(214,96,96,1);
@is-medium: rgba(214,183,96,1);
@is-low: rgba(96,214,138,1);

// Tooltip Colors
@tooltipTitle: @ratingBar;