//////////////////////////////////////////////////////
// Global Vartiables
//////////////////////////////////////////////////////

@font-text: 'Roboto Slab', serif;
@font-number: 'Lato', sans-serif;
@font-color: #595959;
@font-light: #ffffff;
@font-weight: 300;

@chartHeight: 500px;
@barHeight: 20px;
@radius: 3px;


// Profile Colors
@rateColor: rgba(255,255,255,0.6);
@rateValue: #60D68A;
@ratingBar: #45454D;

// Tooltip Colors
@tooltipTitle: @ratingBar;