/* Mixings &  Variables */
@barHeight: 20px;
@borders: #717D95;
@primary: #59BAC0;
@hover: #428D92;

.transition (@property) {
  -webkit-transition: @property;
  -moz-transition: @property;
  -o-transition: @property;
  transition: @property 
}

.transform(@degree) {
  -webkit-transform:rotate(@degree); 
  -ms-transform:rotate(@degree);
  transform:rotate(@degree);
}

.clearfix {
  zoom: 1;
  
  &:before { 
    content: ''; 
    display: block; 
  }
  
  &:after { 
    content: ''; 
    display: table; 
    clear: both; 
  }
}