/* Mixings &  Variables */
@barHeight: 20px;
@borders: #717D95;
@barBack: #DAE4EB;
@primary: tomato;
@hover: #cc4122;

//////////////////////////////////////////////////////
// Animations
//////////////////////////////////////////////////////

.transition (@property) {
  -webkit-transition: @property;
  -moz-transition: @property;
  -o-transition: @property;
  transition: @property 
}

.transform(@degree) {
  -webkit-transform:rotate(@degree); 
  -ms-transform:rotate(@degree);
  transform:rotate(@degree);
}

//////////////////////////////////////////////////////
// Clearfix
//////////////////////////////////////////////////////

.clearfix {
  zoom: 1;
  
  &:before { 
    content: ''; 
    display: block; 
  }
  
  &:after { 
    content: ''; 
    display: table; 
    clear: both; 
  }
}

//////////////////////////////////////////////////////
// Mixins for @media queries
//////////////////////////////////////////////////////

.tabletPortrait(@rules) {
  @media screen and (max-width: 768px) { @rules(); }
  // Based on iPad portrait · width: 768px
} // Use: .tabletPortrait({ .. }); 

.mobileLandscape(@rules) {
  @media screen and (max-width: 600px) { @rules(); }
  // Based on Android (Nexus 4) landscape · width: 600px
} // Use: .mobileLandscape({ .. });

.mobilePortrait(@rules) {
  @media screen and (max-width: 320px) { @rules(); }
  // Based on iPhone 3+4 portrait · width: 320px
} // Use: .mobilePortrait({ .. });

//////////////////////////////////////////////////////
// Basic Graph Setup
//////////////////////////////////////////////////////

// Legends
.legend {
  list-style-type: none;
  min-width: 40px; 
  font-size: 14px;
  display: block;    
  float: left;
  padding: 0;
  margin: 0;
  width: 6%;

  .tabletPortrait({ 
    min-width: 40px; 
    font-size: 12px;
    });
}

.legend-item {
  line-height: @barHeight;

  &:last-child { margin-bottom: 0; }
}

.xaxis {
  .legend();
  position: absolute;
  display: block;
  z-index: 999;    
  height: 20px;
  width: 100%;    
  bottom: -25px;
  right: 0;
}

.xaxis-item {
  .legend-item();
  text-align: right;
  display: block;
  float: left;
  width: 20%;  
}

// Graphs
.graph {
  position: relative;
  display: block;  
  float: left;
  width: 94%;  

  .tabletPortrait({ width: 90%; });
  .mobileLandscape({ width: 85%; });
  .mobilePortrait({ width: 82%; });
}

.graph-lines {
  .graph();
  border: 2px solid fade(@borders, 45%);  
  border-radius: 3px;  
  height: 300px;
}